@use "../../../assets/scss/colorVariables" as *;

$stepperMainColor: $gray-200;
$size: 60px;

ol.stepper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: $size;
    height: $size;
    border-radius: $size;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f0f0;
    font-weight: 600;

    &:after {
      position: absolute;
      content: "";
      z-index: 2;
      width: $size;
      height: $size;
      border-radius: $size;
      background-image: url('data:image/svg+xml;utf8,<svg width="30" height="21" viewBox="0 0 30 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.62961 8.52668L7.82252 17.2306C8.46805 18.3126 9.94113 18.5354 10.8778 17.6927L27.1842 3.02177" stroke="white" stroke-width="4" stroke-linecap="round"/></svg>');
      background-position: center;
      background-repeat: no-repeat;
      background-color: $teal;
      transform: scale(0);
      transition: 0.35s transform ease-in-out;
      box-shadow: 0px 4px 15px rgba(26, 188, 156, 0.4);
    }

    &:not(:last-child) {
      margin-right: 60px;
      &:before {
        content: "";
        z-index: -2;
        top: 50%;
        left: 100%;
        position: absolute;
        width: $size + 10;
        height: 4px; // Thicker line
        background-color: #e9ecef;
        border-radius: 4px;
      }
    }

    &.active {
      color: $teal;
      background-color: white;
      border: 2px solid $teal;

      &:after {
        transform: scale(0);
      }
    }

    &.completed {
      // Completed step style
      color: transparent; // Hide number
      background-color: white;
      border: 2px solid $teal; // optional, or maintain border

      &:after {
        z-index: 2;
        transform: scale(1.1);
      }
    }
  }
}
