@import "../../assets/scss/colorVariables";

.stars {
  display: flex;
  align-items: center;
  gap: 1px;
  
  .star {
    display: inline-block;
    mask: url("../../assets/images/icons/star.svg") no-repeat center;
    mask-size: contain;
    flex-shrink: 0;
    
    &.filled {
      background-color: $yellow;
    }
    
    &.empty {
      background-color: $gray-300;
    }
  }
}
